@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
h2 {
  color: rgb(209, 5, 15);
  font-size: calc(2vw + 1vmin);
}

.main {
  display: flex;
  flex-flow: column;
}
.logo {
  width: auto;
  height: calc(4vw + 1vmin);
  padding: 20px 30px 0 30px;
  margin: auto;
  /* margin: 0 20px; */
}
.searchbbar {
  margin-bottom: 30px;
  cursor: text;
}
.list {
  display: flex;
  flex-flow: column;
  padding-left: calc(40vw + 1vmin);
}
.eachvideo {
  width: calc(30vw + 1vmin);
  margin: auto;
  font-size: calc(1px + 2vmin);
  margin-bottom: 20px;
  /* border-bottom: 1px solid gray; */
  /* background-color: rgba(241, 201, 201, 0.493); */
  cursor: pointer;
}
.title {
  width: calc(20vw + 1vmin);
  margin: auto;
}
img {
  width: calc(20vw + 1vmin);
}
form {
  display: flex;
  flex-flow: column;
  max-width: calc(60vw + 2vmin);
  height: auto;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  border: 3px solid rgba(141, 137, 137, 0.507);
  padding: calc(2px + 1vmin);
  border-radius: 4px;
}

input {
  height: calc(15px + 2vmin);
  margin: 5px 3px;
  padding: 0 10px;
  border: 2px solid rgba(141, 137, 137, 0.507);
  border-radius: 4px;
}
